body {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtbWlzY3RleHR1cmUwMS10b25nLTAyNS1jaGltLTA0LTAzLmpwZw.jpg");
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 55px;
}
h2 {
    color: rgb(23, 36, 226);
    font-size: 35px;
}
p {
    color: rgb(255, 7, 226);
    font-size: 30px;
}